<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
</head>
<body>
    <h1>SIGN IN</h1>
  <form action="/auth/signin" method="post">

    <label for="email">EMAIL </label>
    <input type="email" name="email" id="email">
    <label for="">password</label>
    <input type="password" name="password" id="password">
    <button type="submit">SIGNIN</button>
</form>
</body>
</html>