<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN</title>
</head>
<body>
    <h1>SIGN IN</h1>

    <label for="">USER NAME </label>
    <input type="text" name="name" id="name">
    <label for="">password</label>
    <input type="text" name="password" id="password">
    <button type="button">SIGNIN</button>
</body>
</html>